<nz-table #table [nzShowPagination]="true" [nzData]="transactionData">
  <thead>
    <tr>
      <th>Action</th>
      <th>Number Of Tokens used or buy</th>
      <th>Balance Tokens</th>
      <th>Transaction Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.action }}</td>
      <td>{{ data.numberOfTokens }}</td>
      <td>
        {{ data.balanceToken }}
      </td>
      <td>{{ data.transactionTime | date }}</td>
    </tr>
  </tbody>
</nz-table>
